<div class="container">
  <h1>Hey There!</h1>
  <h1>I'm Alessia and I design <em>websites</em> </h1>
  <h1>and sometimes other things...</h1>
  <%= link_to "Portfolio", projects_path, class: "btn btn-ghost text-center" %>
</div>
