<div class="container">
  <h1><%= @project.title %></h1>
  <div class="mockup-phone">
    <div class="camera"></div>
    <div class="display">
      <div class="artboard artboard-demo phone-1"><%= image_tag "commencer.PNG" %></div>
    </div>
  </div>
</div>
